In [ ]:
!pip install exbook

from exbook import book as eb

Requirement already satisfied: exbook in /usr/local/lib/python3.7/dist-packages (0.0.3)

In [ ]:
eb[0]

Define a function with two strings to be the input arguments. The output is
the summation of the numerical values of the input strings. For example, if
the input strings are "3.5"and "2.7", then the output is 6.2, as a floating
point number.

        Input1: str Input2: str Output: float
Test 1:         3.5         2.7           6.2

Data Type Conversion: Easy

In [ ]:
def data_type_conversion(n1,n2):
    """This function sums two input numbers"""

    n1 = float(n1)      # Input in always a string, conversion to float is needed prior to manipulation
    n2 = float(n2)
    return n1+n2        # Return needs to match the required type to pass the tests.

eb[0].check(data_type_conversion)

You passed 3 of the 3 tests.
The solution is correct

In [ ]:
eb[1]

Write a function to determine whether an integer is a palindrome. An integer
is a palindrome when it reads the same backward as forward. For example,
121 is a palindrome so the output is True, 10 is not a palindrome so the
output is False.

        Input1: int Output: bool
Test 1:         151         True
Test 2:          -5        False

Palindrome: Easy

In [ ]:
def palindrome(num):
    """This function checks if a given number is a palindrome"""
    
    num = str(num)          # Index and slicing only works on string
    if num == num[::-1]:    # Don't need to concern about negative numbers, all negative numbers are NOT palindrome
        return True
    else:
        return False        # Return must be Boolean type, not string of "True" or "False"

eb[1].check(palindrome)

You passed 7 of the 7 tests.
The solution is correct

In [ ]:
eb[2]

Write a function with a given argument n to return a list containing all
positive integers no larger than n, and these integers can be divided by 7
but can not be divided by 5. For example, if n=50, then the returned list
is [7, 14, 21, 28, 42, 49].

        Input1: int             Output: list
Test 1:          14                  [7, 14]
Test 2:          20                  [7, 14]
Test 3:          50  [7, 14, 21, 28, 42, 49]

Seven And Five: Easy

In [ ]:
def seven_and_five(n):
    """This function lists all numbers divisible by 7 but not by 5, from 1 to n"""
    
    List = []
    for i in range(n+1):            # Range always stops before the last number, hence (n+1) is needed to include n in range
        if (i%7==0) and (i%5!=0):   # Modulus (%) gives remainder of a division 
            List.append(i)
    return List

eb[2].check(seven_and_five)

You passed 7 of the 7 tests.
The solution is correct

In [ ]:
eb[3]

Write a function to determine if a given positive integer n is a prime
number.For example, 37 is a prime number so the output is True, 10 is not
so the output is False.

        Input1: int Output: bool
Test 1:           6        False
Test 2:          47         True
Test 3:          53         True
Test 4:          61         True

Prime Number: Easy

In [ ]:
def prime_number(num):
    """This function checks if a given number is a prime number"""
    
    R = []
    deno = int(num**0.5) + 1      # Prime number is only divisble to 1 and itself, meaning n mod i (from 2 to sqrt(n)) != 0
    for i in range(2,deno):       # Can also simply run the loops for range(2,n), however, 
        remainder = num%i         # as sqrt(n) is the largest divisor of n, checking range (2,sqrt(n)+1) will be sufficient
        R.append(remainder)
    if R.count(0) > 0:            # R is a list of all remainders for n%i, if any of the value is 0, n is NOT prime
        return False
    else:
        return True

eb[3].check(prime_number)

You passed 14 of the 14 tests.
The solution is correct

In [ ]:
def prime_number2(num):
    """This function checks if a given number is a prime number"""
    
    isPrime = True              # Assume number is prime unless otherwise proven
    deno = int(num**0.5)+1
    for i in range(2,deno):
        if num%i == 0:          # Condition to reject isPrime assumption
            return False
    if isPrime == True:         # Return must be included if desired, else None will be returned
        return True

eb[3].check(prime_number2)

You passed 14 of the 14 tests.
The solution is correct

In [ ]:
eb[4]

Given a positive integer n, write a function to return a list of prime
numbers that are no larger than n. For example, if n=20, then the returned
list is [2, 3, 5, 7, 11, 13, 17, 19].

        Input1: int                                  Output: list
Test 1:           1                                            []
Test 2:           2                                           [2]
Test 3:          30          [2, 3, 5, 7, 11, 13, 17, 19, 23, 29]
Test 4:          40  [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37]

Prime List: Medium

In [ ]:
def prime_list(num):              # First code, not optimised, standalone
    """This function returns a list of prime number in range of 1 to n (inclusive)"""
    
    Prime = []
    for x in range(2,num+1):
        R = []
        D = []
        deno = int(x**0.5) + 1
        for i in range(2,deno):
            if i not in Prime:    # D is a list of denominators, excluding those that are already in Prime
                D.append(i)
        for p in Prime:
            remainder = x%p       # Natural number greater than 1 can be written as a product of prime numbers smaller than itself
            R.append(remainder) 
        if R.count(0)==0:         # If the given number is not divisible by any of the known prime numbers, it is a prime
            Prime.append(x)
        else:
            for i in D:
                remainder = x%i
                R.append(remainder)
                if R.count(0) == 0:
                    Prime.append(x)
    return Prime

eb[4].check(prime_list)

You passed 9 of the 9 tests.
The solution is correct

In [ ]:
def prime_list2(num):             # Leaner code, optimised & standalone code
    """This function returns a list of prime number in range of 1 to n (inclusive)"""
    
    if num < 2:
        Prime = []
    else:
        Prime =[2]
        for x in range(2,num+1):
            R = []
            for p in Prime:       # A number is prime, IF and ONLY IF, it is not divisible for any other primes smaller than itself
                remainder = x%p   # Don't need to take into account of non-prime divisors
                R.append(remainder)
            if R.count(0) == 0:
                Prime.append(x)
    return Prime

eb[4].check(prime_list2)

You passed 9 of the 9 tests.
The solution is correct

In [ ]:
def prime_list3(num):                   # Built upon eb[3], where the function is used to check if a given number is prime
    """This function returns a list of prime number in range of 1 to n (inclusive)"""
    
    Prime = []
    for i in range(2,num+1):
        if prime_number2(i) == True:    # prime_number2 = function from eb[3], if a number is prime, append it to create a list
            Prime.append(i)
    return Prime

eb[4].check(prime_list3)

You passed 9 of the 9 tests.
The solution is correct

In [ ]:
eb[5]

A robot starts to move from the origin (0, 0) on a 2D plane. Given a squence
of moves, in terms of strings "L" for left, "R" for right, "U" for up, and
"D" for down, write a function to tell if the robot returns to the origin
(0, 0) after this sequence of moves. The output of the function is a boolean
value.

        Input1: str Output: bool
Test 1:          UD         True
Test 2:          LL        False

Robot: Easy

In [ ]:
def robot(movement):
    """This function checks if the robot returns to the starting point after a sequence of movement"""
    
    if (movement.count("L")==movement.count("R")) and (movement.count("U")==movement.count("D")):
        return True        # Back to the starting points if the number of left == right, and up == down
    else:
        return False

eb[5].check(robot)

You passed 5 of the 5 tests.
The solution is correct

In [ ]:
eb[6]

Given a list of numbers as the first input argument, write a function to
remove all items in the list that have the same value as the second input
argument. For example, if the first argument is [1, 3, 2, 2, 4, 2, 5] and
the second argument is given as 2, then the output is [1, 3, 4, 5], with
all 2s removed.

               Input1: list Input2: int  Output: list
Test 1:  [0, 1, 2, 3, 2, 5]           2  [0, 1, 3, 5]
Test 2:        [0, 1, 2, 3]           4  [0, 1, 2, 3]

Remove All: Easy

In [ ]:
def remove_all(List,remove):
    """This function creates a list from an existing one after removing a specified number"""
    
    new_List = []                   # Rather than removing as the question indicates,
    for i in List:                  # create a new list and append the numbers that fulfill the requirements
        if i!=remove:               # Here, the requirement is that the number is DIFFERENT from the 'remove' value               
            new_List.append(i)      
    return new_List

eb[6].check(remove_all)

You passed 4 of the 4 tests.
The solution is correct

In [ ]:
eb[7]

Given two equal length lists of unique numbers, write a function to return
the number of items in these two lists that have the same values and are
at the same positions. For example, if these two lists are [1, 2, 3, 5] and
[2, 1, 3, 4], then the output is 1 because the same value 3 appears at the
same position 2 of both lists.

         Input1: list  Input2: list Output: int
Test 1:  [1, 2, 3, 5]  [2, 1, 3, 4]           1
Test 2:  [1, 2, 3, 5]  [5, 2, 3, 1]           2

Right Position: Easy

In [ ]:
def right_position(List1,List2):          # First code, not optimised
    """ This function returns the number of common occurrences (same value, same index) between two lists.
        Items within list MUST be unique"""
    
    count = 0
    for i in List1:                       # i is an object of List1, which might or might not be present in List2
        if List2[List1.index(i)] == i:    # hence, it is not wise to check and compare the index of i in List2 (error may occur) 
            count += 1                    # instead, checking and compared the value at index of i is fault-proof
    return count   # CONS: only works if items are unique, duplicate items will yield error as index() returns the index of the first encountered value.

eb[7].check(right_position)

You passed 5 of the 5 tests.
The solution is correct

In [ ]:
def right_position2(List1,List2):         # Improved, able to overcome duplicates of values in the same list, and non-existence in the other list
    """ This function returns the number of common occurrences (same value, same index) between two lists.
        Items within list can be duplicated"""
    
    count = 0       
    for i in range(len(List1)):           # i is the index of object in List1 (or List2 since they are the same length)
        if List1[i] == List2[i]:          # Check if value at the same index(i) is the same for both lists
            count +=1
    return count

eb[7].check(right_position2)

You passed 5 of the 5 tests.
The solution is correct

In [ ]:
eb[8]

Given two equal length lists of unique numbers, write a function to return
the number of items in these two lists that have the same values but are at
the different positions. For example, if these two lists are [1, 2, 3, 5]
and [2, 1, 3, 4], then the output is 2 because the same values 1 and
2 appear at the different positions.

         Input1: list  Input2: list Output: int
Test 1:  [1, 2, 3, 5]  [2, 1, 3, 4]           2
Test 2:  [1, 2, 3, 5]  [1, 2, 3, 4]           0

Wrong Position: Easy

In [ ]:
def wrong_position(List1,List2):      # CONS: same as right_position
    """This function returns the number of items of same value, but different index in two lists.
        Items within list MUST be unique"""
    
    count = 0
    for i in List1:
        for j in List2:
            if (i == j) and (List1.index(i)!=List2.index(j)):
                count += 1
    return count  

eb[8].check(wrong_position)

You passed 5 of the 5 tests.
The solution is correct

In [ ]:
def wrong_position2(List1,List2):     # PROS: same as right_position2
    
    count = 0
    n = len(List1)
    for i in range(n):                # In general, looping through the index of list will give better control as index is UNIQUE for each item
        for j in range(n):
            if (i != j) and (List1[i]==List2[j]):
                count += 1
    return count  

eb[8].check(wrong_position2)

You passed 5 of the 5 tests.
The solution is correct

In [ ]:
eb[9]

Given a list of unique numbers, write a function to return the position
index of the smallest number. For example, if the given list is [3, 1, 5, 0,
2, 6], then the returned index is 3, because the smallest number 0 appears
at position 3.

               Input1: list Output: int
Test 1:     [0, 1, 3, 2, 5]           0
Test 2:  [3, 2, 5, 1, 4, 0]           5
Test 3:     [1, 2, 0, 3, 5]           2

Minimum Number Index: Medium

In [ ]:
def minimum_number_index(List):
    """ This functions returns the index of the minimum of a list.
        If list contains minimum at multiple indexes, the first index will be returned"""

    smallest = min(List)
    position = List.index(smallest)
    return position

eb[9].check(minimum_number_index)

You passed 5 of the 5 tests.
The solution is correct

In [ ]:
eb[10]

Given a list of numbers as the first input argument, and an integer k as
the second argument, write a function that returns a list of the k smallest
numbers of the list. Items in the returned list is ranked from the smallest
to the largest. For example, if the list is [0, 1, 2, 3, 2, 5], and the
integer is k=3, then the returned list is [0, 1, 2]. If k is larger than
the length of the list, then return the whole list.

               Input1: list Input2: int        Output: list
Test 1:  [0, 1, 2, 3, 2, 5]           3           [0, 1, 2]
Test 2:  [0, 1, 2, 3, 2, 5]           1                 [0]
Test 3:  [0, 1, 2, 3, 2, 5]           8  [0, 1, 2, 2, 3, 5]

K Smallest: Medium

In [ ]:
def k_smallest(List,k):         # Avoid using .sort() as required by the assignment
    """This function returns a list containing k smallest values from an existing list"""
    
    if k >= len(List):
        k = len(List)
    new_list =[]
    for k in range(k):
        index_min = List.index(min(List))     # Will return the index of the first encountered min, regardless of how many min values there are
        smallest = List.pop(index_min)        # .pop() will return a value ('smallest'), while removing the same value from original list
        new_list.append(smallest)
    return new_list

eb[10].check(k_smallest)

You passed 9 of the 9 tests.
The solution is correct

In [ ]:
def k_smallest2(List,k):        # Shorter method, built on .sort() or sorted(List)
    """This function returns a list containing k smallest values from an existing list"""
    
    List = sorted(List)         # sorted(List) and List.sort() yield similar result. The former creates a new list with sorted value,
    if k >= len(List):          # the latter only sorts the value without creating a new one, or affecting the original list
        k = len(List)
    new_list =[]
    for k in range(k):
        new_list.append(List[k])
    return new_list

eb[10].check(k_smallest2)

You passed 9 of the 9 tests.
The solution is correct

In [ ]:
eb[11]

Write a function to find the longest common prefix string amongst a list of
strings. For example, the input argument is ["flower", "flow", "flight"],
the output is "fl". If there is no common prefix among the input strings,
the output is an empty string.

                                   Input1: list Output: str
Test 1:            ['flower', 'flow', 'flight']          fl
Test 2:  ['flower', 'flow', 'flight', 'inflow']

Common Prefix: Hard

In [ ]:
def common_prefix(List):
    """This function returns the longest common substring amongst a list of strings"""
    
    Lengths = []
    for i in range(len(List)):        # Find the shortest string, as the longest common prefix can only be as long as the shortest string
        Lengths.append(len(List[i]))  # This is to prevent index not found if using a longer string as the base of iterator
        shortest = min(Lengths)
    common = []
    word = ""
    for i in range(shortest):          # Only loop as many times as the length of the shortest string   
        char = List[0][i]              # Use List[0] as point of reference                  
        for j in range(len(List)):
            n = 0                      # Set up the condition to end while loop
            while n < j:
                if List[j][i] != char: # Check if the value at index(i) of all items are that of the reference (List[0])
                    n = j * j          # Force end while loop mathematically, can be anything as long as it contradicts the loop condition 
                    word = ""          # Reset common word to empty string upon different characters encountered
                else:
                    n = n + 1          # Counter to end loop
        if n == j:                 # If while loop is completed without interruption, (n == j), all items in List have the same value at index(i)
            word += char
            common.append(word)
    if len(common) == 0:                # Assign string value as return to empty list (no common substring found)
        return ""
    else:
        return max(common, key=len)     # Return the maximum by len of common = []

eb[11].check(common_prefix)

You passed 4 of the 4 tests.
The solution is correct

In [ ]:
eb[12]

Write a function to find the Nth number in the Fibonacci Sequence, In the
Fibonacci Sequence, the next number is the sum of the two numbers before it,
i.e. 0, 1, 1, 2, 3, 5, 8, 13, 21, 34, ... For example, if N=0, then the
output is 0; if N=1 or N=2, then the output is 1; if N=3, then the output is
2; if N=4, then the output is 3.

        Input1: int            Output: int
Test 1:           4                      3
Test 2:          20                   6765
Test 3:         100  354224848179261915075

Fibonacci: Medium

In [ ]:
def fibonacci(n):
    """This function returns the Nth Fibonacci number, using memoization and recursion"""
    
    F = [0,1]                   # Memoization = save all found data to this list for further use
    for i in range(2,n+1):
        F_num = F[i-1]+F[i-2]   # if F[i-1] and F[i-2] don't exist, Python will start finding its sub-value, meaning F[i-3], F[i-4] and so on
        F.append(F_num)         # until a value is met. All values found by this method will be saved for subsequent retrieval, reducing runtime
    return F[n]

eb[12].check(fibonacci)

You passed 11 of the 11 tests.
The solution is correct

In [ ]:
eb[13]

Create a function to transform the time data as a string of "XX:XX:XXam" or
"XX:XX:XXpm" to the number of seconds counted from 12:00am. For example, the
input of "10:35:29am" gives an output of 38129; the input of 06:21:33pm gives
an output of 66093.

        Input1: str Output: int
Test 1:  10:35:29am       38129
Test 2:  06:21:33pm       66093

Time Conversiont: Easy

In [ ]:
def time_conversion(time):          # Avoid using .split() as required by the assignment
    """This function returns the total seconds have passed since 12.00am to a given time"""
    
    if time[-2:] == "pm":           # Convert PM time to 24hrs format           
        new = int(time[0:2])+12     # Mathematic expression can only be performed on int, data type conversion required
        time = str(new) + time[2:]  # Concatenate only works with str, data type conversion again

    h = int(time[0:2])              # Using slicing to extract hours, minutes, and seconds from the given string
    m = int(time[3:5])
    s = int(time[6:8])

    seconds = 3600*h + 60*m + s
    return seconds

eb[13].check(time_conversion)

You passed 4 of the 4 tests.
The solution is correct

In [ ]:
def time_conversion2(time):          # Use .split() to simplify code
    """This function returns the total seconds have passed since 12.00am to a given time"""
    
    if time[-2:] == "pm":
        new = int(time[0:2])+12
        time = str(new) + time[2:]
    time = time[:-2]
    clocks = time.split(":")

    seconds = 3600*int(clocks[0]) + 60*int(clocks[1]) + int(clocks[2])  # Convert to int is needed for mathematical calculation
    return seconds

eb[13].check(time_conversion2)

You passed 4 of the 4 tests.
The solution is correct

In [ ]:
eb[14]

Reverse the digits of an integer. For example, if the input is 123, then the
output is 321; if the input is -456, then the output is -654.

        Input1: int Output: int
Test 1:         123         321
Test 2:        -456        -654

Reverse Digits: Easy

In [ ]:
def reverse_digits(n):
    """This function reverses the digit of the given number"""
    
    s = str(n)                # Index and slicing only works on string, data conversion needed
    if n < 0:
        r = s[:0:-1]
        result = int(r)*(-1)
    else:
        r = s[::-1]
        result = int(r)
    return result

eb[14].check(reverse_digits)

You passed 6 of the 6 tests.
The solution is correct

In [ ]:
eb[15]

Create a function to remove all duplicates in a list, so that the output is a
list containing the unique values of the original list. For example, if the
input list is [2, 3, 5, 2, 3, 4, 7], then the output must be [2, 3, 5, 4, 7].

                                Input1: list             Output: list
Test 1:                [2, 3, 5, 2, 3, 4, 7]          [2, 3, 5, 4, 7]
Test 2:  [3.5, '4', '4', True, False, False]  [3.5, '4', True, False]

Unique: Easy

In [ ]:
def unique(List):
    """This function returns all unique values of a given list"""
    
    new_List = []
    for i in List:
        if i not in new_List:     # Check if i is NOT in new_List before appending i to new_List, hence,
            new_List.append(i)    # all items in new_List will be unique
    return new_List

eb[15].check(unique)

You passed 3 of the 3 tests.
The solution is correct

In [ ]:
eb[16]

Create a function with the input argument to be a string. The output is the
longest word in the string. For example, the input is a string "NUS Business
School is a magical place", then the output is the string "Business". If
there are two or more words with the same maximum length, then return the
first one.

                                    Input1: str Output: str
Test 1:  NUS Business School is a magical place    Business
Test 2:           Simple is better than complex     complex

Longest Word: Medium

In [ ]:
def longest_word(string):         # Avoid using .split() as required by assignment
    """ This function returns the longest word in a string. 
        If there are multiple words with the same string, the one with the smallest index will be return"""
    
    words = []
    length = []
    current_word = ""             # for loop to split string into multiple words
    for char in string:
        if char == " ":
            words.append(current_word)
            length.append(len(current_word))
            current_word = ""
        else:
            current_word += char
    words.append(current_word)              # Append all single words to a list
    length.append(len(current_word))        # Create a list that contains the lengths of all single words
    return words[length.index(max(length))] # Retrieve the word at the index of the maximum lenghth

eb[16].check(longest_word)

You passed 6 of the 6 tests.
The solution is correct

In [ ]:
def longest_word2(string):         # Use .split() to simplify code
    """ This function returns the longest word in a string. 
        If there are multiple words with the same string, the one with the smallest index will be return"""
    
    words = string.split()
    return max(words, key=len)      # Retrieve the word at the index of the maximum length

eb[16].check(longest_word2)

You passed 6 of the 6 tests.
The solution is correct

In [ ]:
eb[17]

Create a function to return the length of the last word in a string. For
example, if the input is "NUS Business School is a magical place", then the
output is 5, the length of the last word "place".

                                    Input1: str Output: int
Test 1:  NUS Business School is a magical place           5
Test 2:      Take a sad song and make it better           6

Last Word: Easy

In [ ]:
def last_word(string):        # Avoid using .split() as required by assignment, is a subset of eb[16]
    """This function returns the length of the last word in a string"""
    
    words = []
    current_word = ""
    for char in string:
        if char == " ":
            words.append(current_word)
            current_word = ""
        else:
            current_word += char
    words.append(current_word)
    return len(words[-1])

eb[17].check(last_word)

You passed 6 of the 6 tests.
The solution is correct

In [ ]:
def last_word2(string):         # Using .split() to simplify code
    """This function returns the length of the last word in a string"""
    
    words = string.split()
    return len(words[-1])

eb[17].check(last_word2)

You passed 6 of the 6 tests.
The solution is correct

In [ ]:
eb[18]

Create a function to convert a list of scores to grades. Grade "A" accounts
for scores no lower than 90; grade "B" accounts for scores between 80 to 89;
and grade "C" accounts for scores between 70 and 79; scores lower than 70
are recorded as "D". For example, if the input is [85.5, 92, 45, 74, 79],
then the output is ["B", "A", "D", "C", "C"].

                   Input1: list               Output: list
Test 1:  [85.5, 92, 45, 74, 79]  ['B', 'A', 'D', 'C', 'C']

Grade: Easy

In [ ]:
def grade(Scores):
    
    Grades = []
    for s in Scores:
        if s >= 90:
            g = 'A'
        elif s >= 80:
            g = 'B'
        elif s >= 70:
            g = 'C'
        else:
            g = 'D'
        Grades.append(g)
    return Grades

eb[18].check(grade)

You passed 3 of the 3 tests.
The solution is correct

In [ ]:
eb[19]

Create a function to grade bubble cards. The first input argument is list of
answers to be graded, and the second input argument is a list of correct
answers. The function compares these two lists, and returns the proportion
of answers to be correct. For example, if the inputs are ["A", "C", "B", "D",
"A", "D"] and ["A", "B", "C", "D", "D", "D"], then the output is 0.5 because
half of the values are the same in these two lists.

                           Input1: list  ... Output: float
Test 1:  ['A', 'C', 'B', 'D', 'A', 'D']  ...           0.5
Test 2:  ['A', 'B', 'C', 'D', 'D', 'D']  ...           1.0

[2 rows x 3 columns]

Bubble Card: Easy

In [ ]:
def bubble_card(Response,Correct):
    """ This function returns the percetage of correct answer from two lists.
        List1 = Response List, List2 = Model Answer List"""
    
    count = 0
    total = len(Response)
    for i in range(total):
        if Response[i] == Correct[i]:     # Compare if index(i) of both lists have the same value
            count += 1
    output = count/total
    return output

eb[19].check(bubble_card)

You passed 4 of the 4 tests.
The solution is correct

In [ ]:
eb[20]

For a sequence of numbers in a list, create a new list containing the
squares of all non-negative numbers, and cubes of all negative numbers.
For example, if the input is [1, 2, 3, -4, -5, 6], then the output is
[1, 4, 9, -64, -125, 36]. As a practice, please use list comprehension.

                 Input1: list              Output: list
Test 1:  [1, 2, 3, -4, -5, 6]  [1, 4, 9, -64, -125, 36]

Squares And Cubes: Easy

In [ ]:
def squares_and_cubes(List):
    new_List = [i**2 if i >=0 else i**3 for i in List]    # Using list comprehension
    return new_List

eb[20].check(squares_and_cubes)

You passed 2 of the 2 tests.
The solution is correct

In [ ]:
eb[21]

Create a function to present the unique values in a given list and the number
of their appearances. The output of the function is a dictionary where the
keys are the unique values, and the associated values are the number of their
appearances. For example, if the inputs are ["A", "C", "B", "D", "A", "D"]
then the output is {"A": 2, "C": 1, "B": 1, "D": 2}.

                           Input1: list                      Output: dict
Test 1:  ['A', 'C', 'B', 'D', 'A', 'D']  {'A': 2, 'C': 1, 'B': 1, 'D': 2}

Value Counts: Medium

In [ ]:
def value_counts(List):
    """This function returns a dictionary of the frequency of each unique intem in a list"""
    
    Dict = {}
    for i in List:
        if i not in Dict:          # If key is not in Dict, need to add key and assign initial value first
            Dict[i] = 1
        else:
            Dict[i] = Dict[i]+1
    return Dict

eb[21].check(value_counts)

You passed 3 of the 3 tests.
The solution is correct

In [ ]:
eb[22]

Write a function to sort a list from the smallest value to the largest value.
For example, if the input is [3.5, 2.1, 2.1, 3.4, 2.8, 1.2], the output is
[1.2, 2.1, 2.1, 2.8, 3.4, 3.5]. As a practice, do not use the build-in
function sort.

                                Input1: list                         Output: list
Test 1:  [3.5, 2.1, 2.2, 1.6, 0.8, 3.9, 2.5]  [0.8, 1.6, 2.1, 2.2, 2.5, 3.5, 3.9]

Sort: Hard

In [ ]:
def sort_list(List):                # Avoid using .sort() as required by assignment
    sorted_List =[]
    for i in range(len(List)):
        sorted_List.append(min(List))
        List.remove(min(List))      # Remove the min so that another min can be identified at the next iteration
    return sorted_List

eb[22].check(sort_list)

You passed 3 of the 3 tests.
The solution is correct

In [ ]:
eb[23]

Write a function with one argument n, to return the nth row of the Pascal's
triangle. For example, if n=1, the output is [1]; if n=2, then the output is
[1, 1]; if n=3, then the output is [1, 2, 1]; if n=4, then the output is [1,
3, 3, 1].

        Input1: int                            Output: list
Test 1:           3                               [1, 2, 1]
Test 2:           5                         [1, 4, 6, 4, 1]
Test 3:          10  [1, 9, 36, 84, 126, 126, 84, 36, 9, 1]

Pascal Triangle: Hard

In [ ]:
def getRow_Pascal(row):
    """This function returns the Nth row of a Pascal triangle"""
    
    rowIndex = row - 1
    current_row = []
    current_row.append(1)                   #1st element of every row is always 1
    if rowIndex == 0:
        return current_row
    previous = getRow_Pascal(row - 1)
    for i in range(1,len(previous)):
        value = previous[i-1]+previous[i]   #value @ current row = sum of values in previous row
        current_row.append(value)
    current_row.append(1)                   #last element of every row is always 1
    return current_row

eb[23].check(getRow_Pascal)

You passed 8 of the 8 tests.
The solution is correct

In [ ]:
eb[24]

There are n stairs, a person standing at the bottom wants to reach the top
of the stairs. This person can climb either 1 stair or 2 stairs at a time.
Write a function with the input argument n to count the number of ways, the
person can reach the top. For example, if n = 2, this person has 2 ways to
getto the top; if n = 3, this person has 3 ways to get to the top; if n = 4,
this person has 5 ways to get to the top.

        Input1: int Output: int
Test 1:           2           2
Test 2:           5           8
Test 3:          11         144

Stairs: Hard

In [ ]:
def factorial(n):
    f = 1
    for i in range(1,n+1):
        f = f*i
    return f

def stairs(n):
    combinations = []           # Describe how many times the person takes 1 step and 2 steps to reach the end
    for i in range(n+1):
        for j in range(0,int(n/2+1)):
            if i + 2*j == n:
                combinations.append((i,j))
    w = 0
    for x,y in combinations:    # For each pair of (1step,2step), there are xCy ways to execute
        w += factorial(x+y)/(factorial(x)*factorial(y))   # Mathematical expression of finding combinations of x items from (x+y) items in total
    return w

eb[24].check(stairs)

You passed 9 of the 9 tests.
The solution is correct

In [ ]:
eb[25]

Given positive integers n and m as input arguments, write a function to
select all positive integers that are no larger than n and the summations
of all digits are the same as m. Return these selected integers as a list.
For example, if n = 30 and m = 5, the returned output is [5, 14, 23], if
n = 50 and m = 9, then returned output is [9, 18, 27, 36, 45]

        Input1: int Input2: int         Output: list
Test 1:          30           5          [5, 14, 23]
Test 2:          50           9  [9, 18, 27, 36, 45]

Digit Sum: Medium

In [ ]:
def digit_sum(n,m):
    """This function returns a list of number from 1 to n (inclusive), with sum of digits for each number equals m"""
    
    List = []
    for i in range(n):                          # Using list comprehension, to break down all digits in a number
        digits = [int(s) for s in str(i)]       # Data type conversion needed as loop only works on string, not int     
        if sum(digits) == m:                  
            List.append(i)
    return List

eb[25].check(digit_sum)

You passed 4 of the 4 tests.
The solution is correct

In [ ]:
eb[26]

Given a list of numbers as the input argument, write a function to return
a list of numbers that only appear once in the list. For example, if the
input is [1, 2, 1, 4, 3, 2, 0], then the  output is [4, 3, 0]; if the input
is [1.5, 2, 2.0, 3.5, 1.5, 2], then the output is [3.5].

                       Input1: list Output: list
Test 1:       [1, 2, 1, 4, 3, 2, 0]    [4, 3, 0]
Test 2:  [1.5, 2, 2.0, 3.5, 1.5, 2]        [3.5]

One Appearance: Medium

In [ ]:
def one_appearance(List):
    """This function returns a list of items with single appearance from an existing list"""
    
    new_List = []
    for i in List:
        if List.count(i) == 1:      # Item is unique when its count is 1
            new_List.append(i)
    return new_List

eb[26].check(one_appearance)

You passed 3 of the 3 tests.
The solution is correct

In [ ]:
eb[27]

Given two strings as the input arguments, write a function to return the
longest substring shared by these two input strings. For example, if the
inputs are "cdbabcde" and "babcffg", then the output is "abc"; if the
inputs are "This is an apple" and "Check the app store", then the output
is "app".

              Input1: str          Input2: str Output: str
Test 1:          cdeabcde              babcffg         abc
Test 2:  This is an apple  Check the app store         app

Longest Substring: Hard

In [ ]:
def longest_substring(str1,str2):
    """This function returns the longest common substring between two strings"""
    
    List = []
    for i in range(len(str1)-1):
        for j in range(len(str2)-1):
            k = 0
            while str1[i+k] == str2[j+k]:       # As long as string containing k characters is the same in both str1 and str2, continue adding
                s = str1[i:i+k+1]
                List.append(s)                  # Multiple substrings may result from this, append all to a list
                k += 1
    if len(List) == 0:
        return ""
    else:
        return max(List,key=len)                # Return the longest item in the list

eb[27].check(longest_substring)

You passed 3 of the 3 tests.
The solution is correct

In [ ]:
eb[28]

Given a string containing different types of parentheses, write a function
to check if these parentheses matches. For example, if the input is "(this
is {a test})", the output is True; if the input is "(this is {a test)}",
then the output is False.

                Input1: str Output: bool
Test 1:  (this is {a test})         True
Test 2:  (this is {a test)}        False

Match Parentheses:  Very Hard

In [ ]:
def match_parenthesis4(string):
    """This function returns if the pair of parentheses are properly matched in a string"""
    
    opening = ["(","[","{"]           # Strategy: use index obtained from 'closing' to check for value in 'opening', 
    closing = [")","]","}"]           # and .pop() if the values are properly paired.

    stack = []
    for i in string:                  # Loop to pick out parentheses
        if i in opening:              # Stack always contains the 'opening' parenthesis (in value)
            stack.append(i)
        elif i in closing:
            pos = closing.index(i)    # If a character in string belong to the 'closing' list, return its index
            if (len(stack) >0 and opening[pos] == stack[-1]):   # Check if the last appended item in stack is the same as that of opening[index]
                stack.pop()                                     # If a match is found, pop the opening parenthesis
            else:
                return False

    if len(stack) == 0:         # If all openings are matched with closings, all parentheses are properly placed
        return True
    else:
        return False

eb[28].check(match_parenthesis4)

You passed 9 of the 9 tests.
The solution is correct

In [ ]:
eb[29]

Given a list of numbers as the input argument, write a function to move all
zeros to the end of the list, while the order of the other numbers remain
the same. For example, if the input is [0, 1, 0, 3, 12], then the output is
[1, 3, 12, 0, 0].

                    Input1: list             Output: list
Test 1:         [0, 1, 0, 3, 12]         [1, 3, 12, 0, 0]
Test 2:  [-4, -2, 1, 0, 0, 2, 0]  [-4, -2, 1, 2, 0, 0, 0]

Move Zeros: Easy

In [ ]:
def move_zeros(List):
    """This function returns a list with all 0 moved to the end, while preserving the order of the rest"""
    
    List1 = []        # Extract the original list to 2 sublists, one contains just 0
    List2 = []        # one contains the rest of the items in preserved order
    for i in List:
        if i == 0:
            List1.append(i)
        else:
            List2.append(i)
        new_List = List2 + List1
    return new_List

eb[29].check(move_zeros)

You passed 4 of the 4 tests.
The solution is correct

In [ ]:
def move_zeros2(List):        # Leaner and less resource consumed
    """This function returns a list with all 0 moved to the end, while preserving the order of the rest"""
    
    z = List.count(0)         # Count frequency of zero in list  
    for i in range(z):
        List.remove(0)        # Remove all zeros from list
        i += 1
    new_List = List + [0]*z   # Add same number of zeros to the end of the list
    return new_List

eb[29].check(move_zeros2)

You passed 4 of the 4 tests.
The solution is correct

In [ ]:
eb[30]

Given two lists of sorted numbers as the input arguments, write a function to
merge these two lists as one list, with all numbers sorted. For example, if
the inputs are [1, 2, 4] and [1, 3, 4], then the output is [1, 1, 2, 3, 4, 4].
As a practicce, do not use the built-in method sort.

        Input1: list Input2: list        Output: list
Test 1:    [1, 2, 4]    [1, 3, 4]  [1, 1, 2, 3, 4, 4]

Merge Lists: Easy

In [ ]:
def merge_lists(List1,List2):       # Avoid using .sort()
    """This function merges two lists and returns a sorted list"""
    
    new_List = []                   # CONS: dumb way to code, too complicated, not reader friendly
    n = len(List1)+len(List2)
    for i in range(n):
        if (len(List1) > 0) and (len(List2)>0):
            if List1[0] <= List2[0]:
                new_List.append(List1[0])
                List1 = List1[1:]
            else:
                new_List.append(List2[0])
                List2 = List2[1:]
        elif len(List1) == 0:
            new_List = new_List + List2
            List2.clear()
        elif len(List2) == 0:
            new_List = new_List + List1
            List1.clear()
    return new_List

eb[30].check(merge_lists)

You passed 3 of the 3 tests.
The solution is correct

In [ ]:
def merge_lists2(List1,List2):         # Avoid using .sort()
    """This function merges two lists and returns a sorted list"""
    
    List = List1 + List2               # PROS: Leaner code, employ the same concept as sorting a single list
    n = len(List)

    new_List = []
    for i in range(n):
        new_List.append(min(List))
        List.remove(min(List))

    return new_List

eb[30].check(merge_lists2)

You passed 3 of the 3 tests.
The solution is correct

In [ ]:
def merge_lists3(List1,List2):
    List = List1 + List2
    return sorted(List)         # Use sorted() function rather than .sort() method to return a list

eb[30].check(merge_lists3,cheat=True)

                Input 1: list  ... Correct
Test 1:             [1, 2, 4]  ...    True
Test 2:    [0, 1, 1, 2, 5, 6]  ...    True
Test 3:  [-4, -2, 0, 0, 1, 2]  ...    True

[3 rows x 5 columns]

You passed 3 of the 3 tests.
The solution is correct

In [ ]:
eb[31]

Given a list representing the prediction of stock prices in a number of days,
design a function to find the maximum profit. For example, if the input list
is [7, 1, 5, 3, 6, 4] then the profit is 4+3=7, because you can buy the stock
on day 2 (price=1) and sell it on day 3 (price=5) so the profit is 4, then you
can buy on day 4 (price=3) and sell it on day 5 (price=6) so the profit is 3.
Note that you can make the buy and sell transcations in the same day, but you
cannot buy the stock again before selling it, so if the given input list is
[1, 2, 3, 4, 5] then the output is 5-1=4, or (2-1)+(3-2)+(4-3)+(5-4)=4.

               Input1: list Output: int
Test 1:  [7, 1, 5, 3, 6, 4]           7
Test 2:     [1, 2, 3, 4, 5]           4
Test 3:     [7, 6, 4, 3, 1]           0

Trading Decisions: Hard

In [ ]:
def increasing_series(arr):       # Function within function to determine period with increasing prices
    main_arr = []
    sub_arr = []
    n = len(arr)
    for ind in range(n):
        if ind < n - 1 and arr[ind] <= arr[ind+1]:    # Find all days with increasing stock prices at executive days
           sub_arr.append(arr[ind])
        else:
           sub_arr.append(arr[ind])
           main_arr.append(sub_arr)
           sub_arr = []
    return main_arr

def trading_decisions(List):           # Maximum profit obtained if always buy at the lowest possible price and sell immediately the next day if price is up
    """This function returns maximum profit for a give list of prices with unlimited buy/sell"""
    
    periods = increasing_series(List)  # Read: https://www.geeksforgeeks.org/stock-buy-sell/amp/
    p = 0
    for i in periods:
        if type(i) == list:       # Check if the item in period is list (aka. there's transaction) prior to finding profit
            p += i[-1] - i[0]
    return p

eb[31].check(trading_decisions)

You passed 5 of the 5 tests.
The solution is correct

In [ ]:
def trading_decisions2(List):
    """This function returns maximum profit for a give list of prices with unlimited buy/sell"""
    
    days = len(List)
    p = 0

    for i in range(days-1):           # Maximum profit obtained if buying prices is lower than selling price the immediately following day
        if List[i+1] - List[i] > 0:
            p += List[i+1] - List[i]  # Sum all positive differences to get max profit

    return p

eb[31].check(trading_decisions2)

You passed 5 of the 5 tests.
The solution is correct

In [ ]:
eb[32]

At a lemonade stand, each lemonade costs $5. Customers are standing in a queue
to buy from you, and order one at a time. Each customer will only buy one
lemonade and pay with either a $5, $10, or $20 bill, and these payments are
kept in a listas the input argument. You must provide the correct change to
each customer, so that the net transaction is that the customer pays $5. Note
that you don't have any change in hand at first. Return True if and only if
you can provide every customer with the correct change, otherwise False. For
example, if the input is [5, 5, 5, 10, 20], then the output is Ture, because
we collected three $5 bills to pay back the subsequent customers. If the input
is [10, 10], then the output is False, because there is no way to pay back
the customers.

                  Input1: list Output: bool
Test 1:      [5, 5, 5, 10, 20]         True
Test 2:               [10, 10]        False
Test 3:  [5, 10, 20, 5, 5, 10]        False

Lemonade Stand: Hard

In [ ]:
def lemonade_stand(notes):
    """This function checks if it is possible to return change to customers"""
    
    cashier = []
    for i in notes:
        if i == 5:        # If i = 5, no change needed, just put to cashier
            cashier.append(i)
            cashier = sorted(cashier)
        elif (i > 5) and (5 in cashier):        # If i > 5, change of minimum 5 is needed. Else unable to proceed, execute next block of code
            for j in range(len(cashier)):
                change = []
                while sum(change) < (i - 5):    # Stop loop if sum of change hits exact change 
                    cashier = sorted(cashier)   # Arrange all notes from smallest to biggest
                    change.append(cashier[j])
                    cashier.pop(j)
                    if (change.count(5) == 2) and (10 in cashier):    # If multiple $5 bills are needed, and there's $10 bill, exchange them
                        cashier.remove(10)
                        cashier.append(5)
                        cashier.append(5)
                cashier.append(i)         # Add newly obtained bill
                cashier = sorted(cashier)
                break
    if sum(cashier) == 5*len(notes):      # Total amount in cashier must tally with amount sold ($5 for each transaction)
        return True
    else:
        return False

eb[32].check(lemonade_stand)

You passed 7 of the 7 tests.
The solution is correct

In [ ]:
def lemonade_stand2(notes):
    """This function checks if it is possible to return change to customers"""         
    
    Cashier = {5:0, 10:0, 20:0}
    truths = []
    for i in notes:
        Cashier[i] += 1          # Add note when given
        if i > 5:
            change = i - 5       # Calculate amount of change needed
            if Cashier[10] > 0:                # Give change in $10 bill first if possible (aka. count of $10 bill > 0)
                Cashier[10] -= change//10      # Since change is either 15 or 5, using floor of change//10 to return number of $10 note
                Cashier[5] -= (change%10)/5
            else:
                Cashier[5] -= change/5
        truths.append(all(note >= 0 for note in Cashier.values()))   # all() returns True if all values in Cashier is non-negative
    return all(truths)                 # truths / ability to give change should be checked at every note given (at every iteration)

eb[32].check(lemonade_stand2)

You passed 7 of the 7 tests.
The solution is correct

In [ ]:
def lemonade_stand3(notes): 
    """This function checks if it is possible to return change to customers""" 
    
    Cashier = {5:0, 10:0, 20:0}
    truths = []
    operating = True        # Assuming operating is True until unable to provide change
    while operating: 
        for i in notes:
            Cashier[i] += 1    
            if i > 5:
                change = i - 5       
                if Cashier[10] > 0:                
                    Cashier[10] -= change//10      
                    Cashier[5] -= (change%10)/5
                else:
                    Cashier[5] -= change/5
                if all(note >= 0 for note in Cashier.values()) == False:    # Operating == False if unable to provide change 
                    return False                                            # (aka. there's at least one type of note with negative count)
        if operating == True:
            return True

eb[32].check(lemonade_stand3)

You passed 7 of the 7 tests.
The solution is correct

In [ ]:
eb[33]

An array is monotonic if it is either monotone increasing or monotone
decreasing. A list a is monotone increasing if for all i <= j, a[i] <= a[j].
A list a is monotone decreasing if for all i <= j, a[i] >= a[j]. Write a
function to return Trueif and only if the given input list is monotonic. For
example, if the input is [1,2,2,3], then the output is True. If the input is
[1,3,2], then the output is False.

         Input1: list Output: bool
Test 1:  [1, 2, 2, 3]         True
Test 2:  [6, 5, 4, 4]         True
Test 3:     [1, 3, 2]        False

Monotnoe Trend: Medium

In [ ]:
def monotone_trend(List):
    """This function checks if a given string is monotonic (increasingly and decreasingly)"""
    
    Differences = []
    for i in range(len(List)-1):
        d = List[i]-List[i+1]
        Differences.append(d)
    if List[i]-List[i+1] >= 0:
        total_d = sum(d>=0 for d in Differences)       # True = 1, so with every truth, sum is increased by 1
    else:
        total_d = sum(d<=0 for d in Differences)
    if total_d == len(List)-1:                         # If all differences are all non-negative or non-positive, sum of truths will be the same  
        return True                                    # the total number of differences
    else:
        return False

eb[33].check(monotone_trend)

You passed 8 of the 8 tests.
The solution is correct

In [ ]:
def monotone_trend2(List):
    """This function checks if a given string is monotonic (increasingly and decreasingly)"""
    
    diff = []        # Create list of all differences between [i] & [i+1]
    for i in range(len(List)-1):
        d = List[i] - List[i+1]
        diff.append(d)
    return all(d >= 0 for d in diff) or all(d<=0 for d in diff)   # all() returns True if all sub-routines are True, 
                                                                  # all() returns False if there is at least 1 False
eb[33].check(monotone_trend2)

You passed 8 of the 8 tests.
The solution is correct

In [ ]:
def monotone_trend3(List):
    """This function checks if a given string is monotonic (increasingly and decreasingly)"""
    
    diff = []        # Create list of all differences between [i] & [i+1]
    monotonic = True
    while monotonic:
        for i in range(len(List)-1):
            d = List[i] - List[i+1]
            diff.append(d)
            if all(d >= 0 for d in diff) == False:
                if all(d<=0 for d in diff) == False:
                    return False
        if monotonic == True:
            return True

eb[33].check(monotone_trend3)

You passed 8 of the 8 tests.
The solution is correct

In [ ]:
def monotone_up2(List,reverse=False):       # Creating optional parameters with default
    """ This function checks if a given list is increasingly monotonic, reverse=False.
        If reverse=True, this function will check if a given list is decreasingly monotonic"""
    
    diff = []           
    if len(List) == 1:
        return False
    for i in range(len(List)-1):
        d = List[i+1] - List[i]
        diff.append(d)
    if reverse == False:                    # if/else to provide conditions for different values of optional parameters
        return all(d >= 0 for d in diff)     
    if reverse == True:                     
        return all(d <= 0 for d in diff)
    if reverse == "Both":
        return all(d >= 0 for d in diff) or all(d<=0 for d in diff)

In [ ]:
eb[34]

Given a nested list of integers, implement an iterator to flatten it. Each
element is either an integer, or a list -- whose elements may also be integers
or other lists. For example, if the input is [[1,1],2,[1,1]], then the output
is [1, 1, 2, 1, 1]. If the input is [1,[4,[6]]], then the output is [1, 4, 6].

                Input1: list     Output: list
Test 1:  [[1, 1], 2, [1, 1]]  [1, 1, 2, 1, 1]
Test 2:        [1, [4, [6]]]        [1, 4, 6]

Flatten Lists: Hard

In [ ]:
def flatten(l, ltypes=(list, tuple)):     # data type to check : list / tuple
    """This function flattens all nested lists and tuples"""
    ltype = type(l)       # Check the data type of the original data (list/tuple)
    l = list(l)           # Convert the original data to list
    i = 0
    while i < len(l):
        while isinstance(l[i], ltypes):   #isinstance return whether an object is of a specific data type (here: if the object or list or tuple) - True/False
            if not l[i]:                  
                l.pop(i)
                i -= 1
                break
            else:                         # https://stackoverflow.com/questions/2158395/flatten-an-irregular-list-of-lists
                l[i:i+1] = l[i]
        i += 1
    return ltype(l)

eb[34].check(flatten)

You passed 3 of the 3 tests.
The solution is correct

In [ ]:
type([None])

list

In [ ]:
def once_flatten(l):
    """This function flattens the first nested list"""
    new_l =[]
    for i in range(len(l)):
        if isinstance(l[i], list):
            for j in range(len(l[i])):
                new_l.append(l[i][j])
        else:
            new_l.append(l[i])
    return new_l

In [ ]:
def all_flatten(List):
    """This function flattens all nested lists"""
    not_flat = True
    while not_flat:                       # Scraping layer by layer from the first to the last item until no more list, 
        List = once_flatten(List)         # faster if broader but shallow nested loops      
        if all(type(List[i])!=list for i in range(len(List))):
            not_flat = False
    return List 

eb[34].check(all_flatten)

You passed 3 of the 3 tests.
The solution is correct

In [ ]:
def all_flatten2(List):
    """This function flattens all nested lists"""
    not_flat = True
    while not_flat:
        for i in range(len(List)):                # Ensure all items before index(i) are not list before moving on
            List[i:] = once_flatten(List[i:])
        if all(type(List[i])!=list for i in range(len(List))):
            not_flat = False
    return List

eb[34].check(all_flatten2)

You passed 3 of the 3 tests.
The solution is correct

In [ ]:
def flatten2(List):           # Recursion for each element of list
    Result = []
    for i in range(len(List)):      # If item at index(i) is a list, perform function on item 
        if type(List[i]) == list:
            Result += flatten(List[i])
        else:
            Result.append(List[i])
    return Result

eb[34].check(flatten2)

You passed 3 of the 3 tests.
The solution is correct

In [ ]:
eb[35]

Given a list of daily temperatures T, return a list such that, for each day
in the input, tells you how many days you would have to wait until a warmer
temperature. If there is no future day for which this is possible, put 0
instead. For example, given the list of temperatures T = [73, 74, 75, 71,
69, 72, 76, 73], your output should be [1, 1, 4, 2, 1, 1, 0, 0].

                             Input1: list              Output: list
Test 1:  [73, 74, 75, 71, 69, 72, 76, 73]  [1, 1, 4, 2, 1, 1, 0, 0]

Warmer Temperature: Medium

In [ ]:
def warmer_temperature(List):
    """This function returns a list of intervals between a given day and the next day with higher temperature"""
    
    warmer =[]
    for i in range(len(List)):
        D = []          # D = accumulate intervals to days with higher temperature with respect to a particular day
        if len(List) == 1:
            D.append(0)
        else:
            today = List.pop(0)           # today (reference point) is always the first item in the list, 
            for j in range(len(List)):    # once popped, the list contains only values from subsequent days
                if max(List) > today:
                    if List[j] > today:
                        d = j + 1         # Identify the intervals between the reference point and the days with higher temperature
                        D.append(d)
                else:
                    D.append(0)        
        warmer.append(min(D))             # Choose the shortest interval as the correct answer
    return warmer

eb[35].check(warmer_temperature)

You passed 4 of the 4 tests.
The solution is correct

In [ ]:
def warmer_temperature2(List):      # Standalone
    """This function returns a list of intervals between a given day and the next day with higher temperature"""
    
    warmer = []
    n = len(List)
    for i in range(n):
        today = List.pop(0)               # today (reference point) is popped from the list, leaving list of remaining days
        if len(List) == 0:                # if remaining days = 0, append 0 since there's no comparision to be made
            warmer.append(0)
        else:
            isHotter = True               
            k = 0
            while isHotter:               # While loop with k keeps increasing until a higher temperature is met
                if max(List) < today:     # Pre-check, if there's no higher temperature in the remaining list, append 0
                    warmer.append(0)
                    isHotter = False
                elif List[k] > today:     # Once the condition is met, force quit the loop
                    warmer.append(k+1)
                    isHotter = False
                else:
                    k+=1
    return warmer

eb[35].check(warmer_temperature2)

You passed 4 of the 4 tests.
The solution is correct

In [ ]:
def next_higher(List):        # Function within function, dealing with sub-problem first
    """ This function identifies interval between the first day and the next day with higher temperature"""
    
    later = 0
    n = len(List)
    for i in range(n):
        if List[i] > List[0]:
            later = i
            return later
    return later

def warmer_temperature3(List):
    """This function returns a list of intervals between a given day and the next day with higher temperature"""
    
    Full = []
    n = len(List)
    for i in range(len(List)):
        subList = List[i:]
        Full.append(next_higher(subList))     # Using next_higher to work on each subList
    return Full

eb[35].check(warmer_temperature3)

You passed 4 of the 4 tests.
The solution is correct

In [ ]:
def warmer_temperature4(List):
    DTH=[]
    for i in range(len(List)):
        earliest=0
        remaining=len(List)-i
        while earliest<remaining:
            if List[i]<List[earliest+i]:
                earliest=remaining+earliest
            else:
                earliest=earliest+1
        DTH.append(earliest%remaining)
    return DTH

eb[35].check(warmer_temperature4)

You passed 4 of the 4 tests.
The solution is correct